.inp {
    height: 38px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid gray;
}

h1 {
    font-size: 30px;
}

.labInp {
    line-height: 10px;
    font-weight: bold;
    font-size: 14px;
}

.pClick {
 font-size: 16px;
 color: #1565C0;
  font-weight: bold;
  cursor: pointer;
}

.pClick:hover {
    text-decoration: underline;
}